<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col">
                <div class="texto pt-2 mb-5">
                    <p class="ml-5 text-uppercase text-left"><b>Si tienes consultas escribenos a<br/>ppp1437@gmail.com 
                        o completá <br/> el formulario a continuación.</b></p>
                </div> 
                <div class="forma mb-5 text-uppercase">
                    <label for="exampleInputEmail1" class="form-label">Nombre Completo</label>
                    <input type="email" class="form-control border border-danger" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="forma mb-5 text-uppercase">
                    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control border border-danger" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="forma mb-5 text-uppercase">
                    <label for="exampleInputEmail1" class="form-label">Numero de telefono</label>
                    <input type="email" class="form-control border border-danger" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="col mt-5">
                <div class="forma text-uppercase mt-5">
                    <label for="foo" class="form-label">Comente</label>
                    <textarea class="form-control border border-danger" id="foo" name="comente" rows="10" cols="110"></textarea>
                </div>
                <div class="forma row-1 pt-5 text-center text-uppercase">
                    <button type="button" class="btn"><b>COMENZAR</b></button>
                </div>
            </div>
        </div>
    </form>
</div>