<div class="container-fluid">
    <div class="row">
        <div class="col-10 mb-5 text-center">
            <div id="noHuella">¿En que consiste la huella de carbono y que consecuencia trae?</div>
        </div>
        <div class="col ms-5 mb-5">
            <button type="button" class="btn-lg" id="lol">
                <img class="flecha" src="assets/Icono/Polygon 3.svg"/>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mb-5 text-center">
            <div id="noHuella">¿Que podemos hacer para reducir nuestra huella de carbono?</div>
        </div>
        <div class="col ms-5 mb-5">
            <button type="button" class="btn-lg" id="lol">
                <img class="flecha" src="assets/Icono/Polygon 3.svg"/>
            </button>
        </div>
    </div>
    <div class="row">    
        <div class="col-10 mb-5 text-center">
            <div id="huella">Mide tu huella de carbono aqui</div>
        </div>
        <div class="col ms-5 mb-5">
            <button type="button" class="btn-lg" id="lol">
                <img class="flecha" src="assets/Icono/Polygon 3.svg"/>
            </button>
        </div>
    </div>
</div>