<div class="container-fluid">
    <div class="row pt-5 mb-5">
        <div class="col-10">
            asduhduasgduagdaudgau
        </div>
        <div class="col">
            sadadada
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-10">
            asduhduasgduagdaudgau
        </div>
        <div class="col">
            sadadada
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-10">
            asduhduasgduagdaudgau
        </div>
        <div class="col">
            sadadada
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-10">
            asduhduasgduagdaudgau
        </div>
        <div class="col">
            sadadada
        </div>
    </div>
</div>