.container-fluid {
    background-image: url("../../assets/Icono/Rectangle 1.svg"), url("../../assets/Icono/Rectangle_verde.svg");
    background-repeat: no-repeat;
    background-position-y:  -12vh, 26vh;

    height: 94vh;

    color: white;
}