<div class="container-fluid pt-5">
    <form>
        <div class="row">
            <div class="col mt-5 ms-5">
                <div class="texto pt-2">
                    <p><b>REGISTRATE</b></p>
                </div>
                <div class="forma mb-5 text-uppercase">
                    <label for="exampleInputEmail1" class="form-label">Nombre Completo</label>
                    <input type="email" class="form-control border border-danger" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="forma mb-5 text-uppercase">
                    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control border border-danger" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="forma mb-5 text-uppercase">
                    <label for="exampleInputEmail1" class="form-label">Numero de telefono</label>
                    <input type="email" class="form-control border border-danger" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="forma row-1 text-center text-uppercase">
                    <button type="button" class="btn"><b>REGISTRATE</b></button>
                </div>">
            </div>
            <div class="col mt-5 me-5 ms-5">
                <div class="texto pt-2">
                    <p><b>ACCEDER</b></p>
                </div>
                <div class="forma text-uppercase">
                    <label for="foo" class="form-label">Nombre Completo</label>
                    <input type="email" class="form-control border border-danger" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="forma text-uppercase mt-5">
                    <label for="foo" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control border border-danger" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="forma row-1 pt-5 text-center text-uppercase">
                    <button type="button" class="btn"><b>INGRESAR</b></button>
                </div>
            </div>
        </div>
    </form>
</div>