<div class="container-fluid">
    <div class="row foo">
        <div class="col align-self-end">
            <img src="../../assets/Icono/chica_cofre.svg" height="400"/>
        </div>
        <div class="col align-self-center">
            <div class="row pb-5">
                <p>sdscfvimvsivmiwmvvtfdokokosdlaokfievoevkoleovekvoekveokeovkevekvokv</p>
            </div>
            <div class="row-4 text-center">
                <button type="button" class="btn btn-primary">entrar</button>
            </div>
        </div>
    </div>
</div>