<div class="container-fluid">
    <div class="row body">
        <div class="col ps-0 align-self-end">
            <img src="assets/Icono/chica_cofre.svg" height="500"/>
        </div>
        <div class="col align-self-center">
            <div class="row mt-5 pb-5 text-end">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium sed velit id nibh duis adipiscing mi sem.
                     Cum habitasse magna dictum viverra scelerisque enim tellus dolor blandit. 
                    Sed faucibus id ipsum aliquam, nec, dignissim imperdiet sit. Ultricies elementum mauris imperdiet risus rhoncus.</p>
            </div>
            <div class="row-1 pt-5 text-center">
                <button type="button" class="btn"><b>COMENZAR</b></button>
            </div>
        </div>
    </div>
</div>