.container-fluid {
    background-image: url("../../assets/Icono/Rectangle 1.svg");
    background-repeat: no-repeat;
    background-position-y:  -12vh;

}

.text{
    color: #63FF6B;
    text-decoration: underline;
    font-size: 18px;
    text-transform: uppercase;
    
}
